<!DOCTYPE html>

<html>
	<head>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" type="text/css" href="../static/style.css">
    	{{ output|safe }}
    	<title>KOSS Task</title>
	</head>
  	<body class="gradient-back">
  		<div class="foreground">
  			<h1>Capitalizer</h1>
  			<div class="topBar">
  				<a href="/history">
  					<div class="button">
  						History
  					</div>
  				</a>
  			</div>
  			<form method="POST">
  				Input: <input type="text" name="string"><br>
  				Only capitalize first letters <input type="checkbox" name="checkBox"><br>
  				<input type="submit" value="Submit"><br>
  			</form>
  		</div>
  	</body>
</html>